@using BookCategorize.Services
@model IEnumerable<BookCategorize.Models.Volumeinfo>

<div class="container">
    <h1>My books</h1>
    <hr />
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-2">
            <div class="nav flex-column nav-pills me-2">
                <button onclick="location.href = 'Start';" class="nav-link" id="v-pills-home-tab">All (@Model.Count())</button>
                <button onclick="location.href = 'Reading';" class="nav-link">Currently reading (@Model.Where(m => m.CategorizeType == CategorizeType.Reading).Count())</button>
                <button onclick="location.href = 'WantToRead';" class="nav-link active">Want to read (@Model.Where(m => m.CategorizeType == CategorizeType.WantToRead).Count())</button>
                <button onclick="location.href = 'Read';" class="nav-link">Done reading (@Model.Where(m => m.CategorizeType == CategorizeType.Read).Count())</button>
            </div>
        </div>
        <div class="col-10">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Cover</th>
                        <th style="width: 21%"scope="col">Title</th>
                        <th style="width: 18%"scope="col">Author</th>
                        <th style="width: 11%"scope="col">Rating</th>
                        <th style="width: 17%"scope="col">Reading status</th>
                        <th style="width: 15%"scope="col">Date added</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Where(m => m.CategorizeType == CategorizeType.WantToRead))
                    {
                        <tr>
                            <td><img src="@item.imageLinks.smallThumbnail" style="height: 6em; width: 4.5em;" alt="Book cover"></td>
                            <td>@item.title</td>
                            <td>@item.AllAuthors</td>
                            <td>@item.Rating.GetDisplayName()</td>
                            <td>@item.CategorizeType.GetDisplayName()</td>
                            <td>@item.DateAdded.ToString("MMMM dd, yyyy")</td>
                            <td>
                                <a asp-action="Details" class="btn btn-primary" asp-route-id="@item.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="margin-bottom: 2px;" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                                    </svg>
                                </a>
                            </td>
                            <td>
                                <a asp-action="Delete" class="btn btn-danger bi bi-x-circle" asp-route-id="@item.Id">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" style="margin-bottom: 1px;" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                                    </svg>
                                </a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>